.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carros-container {
  background-color: rgb(255, 255, 255); /* Fondo gris para el contenedor principal */
  padding: 20px; /* Espaciado interior */
  width: 100%; /* Ancho completo */
  text-align: center; /* Centra el contenido de texto */
}

.centered-title {
  margin-top: 0; /* Elimina el margen superior del título */
}

.carro-item {
  border: 1px solid rgb(0, 0, 0); /* Borde gris para cada elemento */
  margin: 10px; /* Espaciado entre elementos */
  padding: 10px; /* Espaciado interior */
  text-align: left; /* Centra el contenido de texto */
  

}

.containerFilter {
  display: flex;

}

.columna {
  flex: 1;
  
}

.border{
  border: #61dafb;
  border-radius: 1px;
}

h4 {
  text-align: left;
}